.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
  justify-content: space-between; 
  padding: 220px 0 100px 0;
  background-image: url('../../assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 20px;
  height: 780px;
}

.profile img {
  width: 350px; 
  height: 350px;
  border-radius: 50%;
  margin-right: 10vw;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  margin-left: 100px;
  max-width: 50%;
}

.profile h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  margin:10px auto 20px auto;
}

.profile h1 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin:10px auto 10px auto;
}

.profile-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  font-weight: 500;
  margin-top:30px;
  margin-bottom: 50px;
}

.profile-resume {
  padding: 15px 25px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.profile-resume:hover {
  background: white;
  color: black;
  font-weight: 500;
  border: 2px solid black;
}

@media (max-width: 885px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    height: auto;
  }

  .profile img {
    width: 300px; 
    height: 300px;
    margin: 20px 0;
  }

  .profile-content {
    margin-left: 0;
    max-width: 100%;
  }

  .profile h1 {
    font-size: 50px;
  }

  .profile p {
    font-size: 16px;
  }

  .profile-action {
    font-size: 20px;
  }
}

@media (max-width: 690px) {
  .profile img {
    width: 250px; 
    height: 250px;
  }

  .profile h1 {
    font-size: 40px;
  }

  .profile p {
    font-size: 14px;
  }

  .profile-action {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .profile img {
    width: 200px; 
    height: 200px;
  }

  .profile h1 {
    font-size: 35px;
  }

  .profile p {
    font-size: 12px;
  }

  .profile-action {
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}
